@font-face {
  font-family: "Nunito_Lean";
  src: local("Nunito_Lean"),
    url("./Nunito_Sans/NunitoSans-Regular.ttf") format("truetype");
}
* {
  transition: background-color 200ms ease, border 200ms ease;
  box-sizing: border-box;
  font-weight: 400;
  font-family: "Nunito_Lean", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.regular_text > *,
.regular_text {
  font-family: "Nunito_Lean", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif !important;
}

.colorpicker {
  --shadowFloat: 0 2px 6px 2px rgb(60 64 67 / 10%);
  --color: rgb(74, 74, 74);
  color: rgb(74, 74, 74);
  --lightColor: rgba(238, 238, 238, 0.447);
  --borderColor: rgb(231, 231, 231);
  --shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
    rgba(17, 17, 26, 0.05) 0px 0px 3px;
  --btnColor: rgb(240, 240, 240, 1);
  --bckColor: rgb(250, 250, 250);
  --btn_font_color: rgb(74, 74, 74);
  --genColor: rgb(255, 255, 255);
  --side_toggle: rgb(249, 249, 249);
  --side_toggle_svg: var(--color);
  --side_toggle_hover: rgb(244, 244, 244);
  --bar: rgba(0, 0, 0, 0.7);

  min-height: 100vh;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  background-color: var(--bckColor);
}
.colorpicker.dark {
  --shadowFloat: 0 2px 6px 2px rgb(195 191 188 / 10%);
  --color: rgb(181, 181, 181);
  color: rgb(181, 181, 181);
  --lightColor: rgba(17, 17, 17, 0.447);
  --borderColor: rgb(24, 24, 24);
  --shadow: rgba(238, 238, 229, 0.05) 0px 1px 0px,
    rgba(238, 238, 229, 0.05) 0px 0px 3px;
  --btnColor: rgb(30, 30, 30, 1);
  --bckColor: rgb(51, 51, 51, 1);
  --btn_font_color: rgb(243, 243, 243);
  --genColor: rgb(37, 37, 38, 1);
  --side_toggle: rgb(51, 51, 51, 1);
  --side_toggle_svg: var(--color);
  --side_toggle_hover: rgb(60, 60, 60);
  --bar: #fff;
}

svg path {
  fill: var(--btn_font_color);
}
svg.noFill path {
  fill: none !important;
}

.mode_button {
  margin-bottom: 1rem;
  width: fit-content;
  padding: 0.5rem 1rem;
  font-weight: 500;
  box-shadow: var(--shadow);
  color: var(--btn_font_color);
  background-color: var(--btnColor);
  border: none;
  cursor: pointer;
}

.flex {
  display: flex;
}

.flex1 {
  flex: 1;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.img_div_contain {
  object-fit: contain;
  height: 100%;
  width: 100%;
  border-radius: inherit;
}

/*Scroller*/

.scrollWheelSm::-webkit-scrollbar {
  width: 0.5rem;
  border-radius: inherit;
  overflow: hidden;
}
.scrollWheelSm::-webkit-scrollbar-track {
  background-color: transparent;
  overflow: hidden;
}
.scrollWheelSm::-webkit-scrollbar-thumb {
  background-color: rgb(200, 200, 200);
  background-clip: padding-box;
  min-height: 2rem;
  max-height: 10rem;
  border-radius: 0.125rem;
  border-radius: 4px;
  border: 0.125rem solid transparent;
}
.scrollWheelSm::-webkit-scrollbar-thumb:hover {
  background-color: #aaa;
}
.scrollWheelSm::-webkit-scrollbar-corner {
  background: transparent;
}
